h1 {
    font-size: 12px;
    color: blue;
    background-color: red;
}

@media (orientation: landscape) and (max-width: 576px) {
    h1 {
        font-size: 24px;
        color: red;
        background-color: blue;
    }
}