* {
    font-family: Helvetica;
}


.feature {
    border-right: 1px solid #e0e0e0;
}

li:last-child a {
    background-color: black;
}

.feature:last-child {
    border: none;
}

.button-primary-outline {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    border: 1px solid #933393;
    border-radius: 8px;
    align-items: center;
    padding: 17px 16px;
    display: flex;
}

.link-block-20 {
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    text-decoration: none;
    display: flex;
}

#profile_img {
    width: 80px;
}

.carousel-control-next-icon,
.carousel-control-prev,
.carousel-control-prev-icon,
.carousel-control-next {
    background-color: black;
    color: black !important;
    font-weight: bold;
}